.dualcurrency_logo_img{
    margin-right: 15px;
    margin-bottom: 15px;
}
.dualcurrency_inline {
    display: inline;
}
.dualcurrency_grey {
    color:grey;
}
.hide {
    display: none;
}
comment {
    display: block;
    font-size: 10px;
}
comment:before {
    content: '▲';
}
